<div class="d-flex justify-content-center align-items-center">
    <h1 class="text-center mt-4 title" data-text="&nbsp;Consumo Energético&nbsp;">&nbsp;Consumo Energético&nbsp;</h1>

</div>

<div class="block glow p-3">
    <div class="row">
        <h6 class="text-muted">OBS: Os cálculos foram feitos com base em pesquisas do tempo médio de uso dos aparelhos.</h6>
        <p class="text-danger text-center">{{errorMessage}}</p>
        <div class="col-sm-6 col-lg-4">
            <label for="residents">Tamanho de sua família:</label>
            <input type="number" name="residents" class="form-control" placeholder="0" [(ngModel)]="residents" required>
        </div>
        <div class="col-sm-6 col-lg-4">
            <label for="washing-machine">Tem máquina de lavar?</label>
            <select name="washing-machine" class="form-select" [(ngModel)]="washingMachineInput" required>
                <option value="false">Não</option>
                <option value="true">Sim</option>
            </select>
        </div>
        <div class="col-sm-6 col-lg-4">
            <label for="dryer">Tem secadora de roupas?</label>
            <select name="dryer" class="form-select" [(ngModel)]="dryerInput" required>
                <option value="false">Não</option>
                <option value="true">Sim</option>
            </select>
        </div>

        <div class="col-sm-6 col-lg-4">
            <label for="rooms">Quantidade de cômodos:</label>
            <input type="number" name="rooms" class="form-control" placeholder="0" [(ngModel)]="rooms" required>
        </div>

        <div class="col-sm-6 col-lg-4">
            <label for="tvs">Quantidade de TV's:</label>
            <input type="number" name="residents" class="form-control" placeholder="0" [(ngModel)]="tvs" required>
        </div>
        <div class="col-sm-6 col-lg-4">
            <label for="pcs">Quantidade de computadores:</label>
            <input type="number" name="residents" class="form-control" placeholder="0" [(ngModel)]="pcs" required>
        </div>
        <div class="col-12">
            <label for="pricePerHour">Valor da tarifa energética:</label>
            <input type="number" name="pricePerHour" class="form-control" placeholder="0" [(ngModel)]="pricePerHour"
                required>
        </div>
    </div>

    <div class="col-12 d-flex justify-content-center">
        <button type="button" (click)="validateInputs()">Calcular</button>
    </div>

    <div class="col-12 d-flex justify-content-center">
        <h5 [innerHTML]="result" class="mt-4"></h5>
    </div>
</div>